body {
    background-color: #8c9657;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginscreen { 
    background-color: #f1e8c7;
    padding:30px ;
    width:300px ;
    border-radius: 8px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.caption {
    text-align: center;
    margin-bottom: 20px;
    color: #473f34;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #473f34;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
